@import './px2-rem.scss';
body {
    font-size: 14px !important;
    // background: #fff;
}

ul{
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
  }
  
a {
  text-decoration: none;
  color: #555;
}

.container {
  padding: px-to-rem(18);
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
  border-color: #DCDFE6 !important;
}
.mint-searchbar{
  background: none !important;
  padding: 0  !important;
  align-self: center!important;
}
.mint-searchbar-inner {
  border-radius: 16px !important;
}
.mintui-search {
  font-size: 14px !important;
}